<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="QLCSKHConnection"
			 connectionString="Server=LAPTOP-3VDNARNT;Database=QLCSKH;Integrated Security=True;MultipleActiveResultSets=True;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>